<!DOCTYPE html>
{% set route %}route.{{app.request.get('_route')}}.title{% endset %}
<html lang="{{app.request.locale}}" {{ context_me_attr() }}>
<head>

<link rel="stylesheet" href="{{ rb_bower_asset('bootstrap/dist/css/bootstrap.min.css') }}">


<meta charset="UTF-8">
    <title>{{title_web}}</title>
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <div id="context-n-default" class="context-n">
        <div class="{% block containerClass %}{% endblock %}">
            {# {% include "RBFrontBundle:Navigation:header.html.twig"  %} #}
           {#  <div class="container ">
                 <div class="row">
                    <div class="col-xs-12">
                       <h1 class="page-title"> {% block title %}{{route|trans}}{% endblock %}</h1>
                       <h2 class="page-subtitle"> {% block subtitle %}{% endblock %}</h2>
                    </div>
                </div>
            </div> #}

        <div class="container ">
            <div class="row">
            <div class="col-xs-4 col-xs-offset-4 top-1">
                <div id="blog-content">
                    {{ logo('M') }}
                {% block body %}{% endblock %}
                </div>
            </div>
            <div class="col-xs-1">
                <div id="sideRight">
                {#tags()#}
                {% block sideRight %}
                {% endblock %}
                </div>
            </div>
        </div>
                </div>
    </div>

   {# {% include "RBFrontBundle:Navigation:footer.html.twig"  %} #}
    <div class="flash-container">
    </div>
</div>
 <script src="{{ rb_bower_asset('jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ rb_bower_asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
</script>
</body>
</html>