{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBUserBundle::index.html.twig' %}

{% block title %}Mon profile : <span class="small opacity">{{app.user.username}}</span>{% endblock title %}
{% block subTitle %}{{app.user.username}}{% endblock subTitle %}
{% block breadcrumb %}<li>Mon profile</li>{% endblock breadcrumb %}
{% block body %}
  {{form_start(form,{action:path('rb_user_upd',{id:app.user.id}),attr:{class:'form-live form-label-inline'}})}}

	<div class="pc text-xs-center">
		<div class="mcb">
			{{userImg(app.user.id)}}
		</div>
		<div class="mct" style="margin-bottom:1rem;">
			<label>Profile</label><br>
			{{btn_upload_user(app.user.id,'/log','log.jpg')}}
		</div>	
		<div class="mct" style="margin-bottom:1rem;">
			<label>Background</label><br>
			{{btn_upload_user(app.user.id,'/bg','bg.jpg')}}
		</div>	
		
	</div>
	
  {{form_end(form)}}

{% endblock body %}