{% extends 'RBUserBundle::index.html.twig' %}

{% block title %}Mon profile : <span class="small opacity">{{app.user.username}}</span>{% endblock title %}
{% block subTitle %}{{app.user.username}}{% endblock subTitle %}
{% block breadcrumb %}<li>Mon profile</li>{% endblock breadcrumb %}
{% block body %}
  {{form_start(form)}}
<div class="container">
    <!-- BEGIN ROW  -->
    <div class="row ">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">

    <blockquote class="question">{{"msg.my_profile" | trans}}</blockquote>

 <fieldset class="pad-top-content-6">
<legend>{{"msg.mail_pw" | trans}}</legend><div class="form-group">
{{ form_row(form.username) }}
</div><div class="form-group">
{{ form_row(form.current_password) }}
</div>
<div class="form-group">
{{ form_row(form.email,{attr:{ placeholder:"email",class:"form-control" }}) }}
</div>

<div class="form-group">
{# {{ form_row(form.plainPassword.first,{attr:{placeholder:"Mot de passe",class:'form-control marg-bottom-content-1'}}) }}
{{ form_row(form.plainPassword.second,{attr:{placeholder:"Confirmation",class:'form-control'}}) }} #}
</div>
</fieldset>
          <button>save</button>
{% endblock body %}